body {
    background: #333;
    color: #fff;
    font: 300 100.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}
#jardin { 
	position: relative; 
	margin-left: auto; 
	margin-right: auto; 
	width: 2560px; 
	text-align: left;
}
/* merci à http://www.alsacreations.com/astuce/lire/1177-une-feuille-de-styles-de-base-pour-le-web-mobile.html
@media (max-width: 640px) { 
 
 // passer tous les éléments de largeur fixe en largeur automatique  
 body, element1, element2 { 
   width: auto !important; 
   margin: auto !important; 
   padding: auto !important; 
 } 
 
 // fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques 
 img, table, td, blockquote, code, pre, textarea, input, iframe, object, embed, video { 
   max-width: 100% !important; 
 } 
 
 // gestion des mots longs  
 textarea, table, td, th, code, pre, samp { 
   word-wrap: break-word; // césure forcée  
 } 
 code, pre, samp { 
   white-space: pre-line; // passage à la ligne spécifique pour les éléments à châsse fixe  
 } 
 
 // Passer à une seule colonne (à appliquer aux éléments multi-colonnes)  
 element1, element2 { 
   float: none !important; 
   width: auto !important 
 } 
 
 // masquer les éléments superflus  
 .hide_mobile { 
   display: none !important; 
 } 
 
 // Un message personnalisé 
 body:before { 
   content: "Version mobile du site"; 
   display: block; 
   color: #777; 
   text-align: center; 
   font-style: italic; 
 } 
} 
@media screen and (max-width:640px) and (orientation: landscape) { 
  body { 
   -webkit-text-size-adjust: 70%; 
  } 
} 
*/ 