		svg {
		  font: 10px sans-serif;
		}		
		.Select {
			background-color: steelblue;
			width: 980px;
		} 
		.txtSelect { 
			width: 330px;
			float:left;
			} 
		.sonSelect {width: 100px } 
		path {
		  fill: steelblue;
		}
		.axis path, .axis line {
		  fill: steelblue;
		  stroke: #000;
		  shape-rendering: crispEdges;
		}
		.ref{
		  vertical-align:middle;
		  width: 1000px; 
		}
		.posi{
		  overflow:auto;
		}
		.term{
		  color:steelblue;
		}
		.tgcld{
		  width: 640px;
		}
		.status{
			float:right;
		}
		.tag{
			cursor: pointer;	
		}
		.tag:hover {
		    color: red;
		}
		.globalTC {
			width: 1000px;
		 	height: 320px; 
		}		