html, body{ 
 margin:10; 
 padding:0; 
 text-align:center; 
 font-size: 14px; font-family:arial; line-height:20px;background-color:black;color:white	
} 
#main {text-align:center;margin-left: auto;margin-right: auto;width:1024px}  
#navigtofs {margin-left: auto; margin-right: auto;width:1024px;height:130px;text-align:center;}
div.bloc { 
		  width:100px;
		  margin:0 3px; /* espacement horizontal des blocs */
		  display:inline-block;
		  vertical-align:middle;
		  text-align:center; /* on rétablit l'alignement du texte */
		}
#tofs {margin-left: auto; margin-right: auto;width:800px;height:120px;overflow:hidden;}
.tof_mini {width:30px;}

#map_geo {margin-left: auto; margin-right: auto;width:800px; height:200px;}
#map_svg {position:absolute;width:100%;height:100%;top:0px;left:0px}



 