@media only screen and (max-width: 800px) {

#logoSonar{
    vertical-align: top;
    width:36px;
}
.arc-text {
    font: 9px sans-serif;
}
.txtBtn{
    fill:#fff;
    stroke: none;
    font-size:12px;
  }
#svgBtnG{
    margin-left: -40px;
    margin-top: 31px;
    height: 60px;
}
#btnConnect rect{
    width: 130px;
    height: 28px;
    x: 0px;
    y: 30px;
}
